@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    @using(Html.BeginForm("Undo", "Home"))
    {
        <input alt="Submit"/>
    }
</div>

<h1>Cart items : @ViewBag.TotalCartItems</h1>
<h1>Wish list items : @ViewBag.TotalWishListItems</h1>

<div>
    @using(Html.BeginForm("AddToCart", "Home"))
    {
        <input alt="Submit"/>
    }
    @using(Html.BeginForm("MoveToWishList", "Home"))
    {
        <input alt="Submit"/>
    }
</div>